fastapi
uvicorn[standard]
python-multipart
openai>=1.30.0
python-dotenv
pypdf
python-docx
beautifulsoup4
youtube-transcript-api
yt-dlp
opencv-python
certifi
requests
selenium>=4.20,<5
stripe
google-auth

pymupdf

python-pptx
